* {
    font-family: 'VT323', monospace;
    background-color: #272822;
    color: #F8F8F2;
}

h1 {
  font-size: 50px;
  color: #ea85f2;
}

h2 {
  color: #7edfea;
}

form {
  text-align: center;
  font-size: 30px;
}

button {
  width: 55px;
  height: 20px;
}

table {
  width: 90%;
  margin: auto auto;
}

td {
  position: relative;
}

td:after {
  content: '';
  display: block;
  margin-top: 100%;
}

td .pixel {
  background: #F8F8F2; /*change back to: #F8F8F2*/
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
